upstream app {
  server localhost:8080;
}
server {
        listen 443;
        server_name tomcat.thoughtworks.com;
        ssl on;
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_certificate     /etc/nginx/ssl/server.crt;
        ssl_certificate_key /etc/nginx/ssl/server.key;

        add_header X-Request-ID $request_id; # Return to client


        location / {
            proxy_pass http://app/;
            proxy_set_header X-Request-ID $request_id;        # Pass to app server
            proxy_set_header Host $host;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_connect_timeout      360;
            proxy_send_timeout         360;
            proxy_read_timeout         360;
        }
}

server {
        listen 80;
        server_name tomcat.thoughtworks.com;


        location / {
            return 301 https://tomcat.thoughtworks.com$request_uri;
        }
}
